
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}




* {
    margin: 0;
    padding: 0;
}

.container {
    width: 83%;
    max-width: 1600px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav-logo {
    max-width: 138px;
    align-items: center;
    justify-content: center;
    margin: 16px;
}


.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 32px;
    cursor: pointer;
    font-size: 14px;
    
}

.btn {
    max-width: 164px;
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    text-align: center;
    margin: 24px;
    cursor: grab;
  
   
}

.btn:hover {
    background-color: #30B868;
}



.banner {
    height: 674px;
    max-width: 1920px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
     text-align:center;
    
     
     
}

 .early-access p {
    margin-top: 20px;
    max-width: 229px;
    border-radius: 1000px;
    background-color: white;
    border: 1px solid white;
    border-radius: 1000px;
    color: #469165;
 }

 .early-access {
    padding-top: 115px;
    font-size: 16px;
    
 }

.heading {
   padding-top: 16px;
   padding-bottom: 16px;
   font-size: 30px;


}

.private-space {
    margin-bottom: 32px;
    font-size: 18px;
    color: #FFFFFF;
}

.btn2 {
    max-width: 252px;
    padding: 17px ;
    text-align: center;
    color: white;
    background-color:#469165;
    border: 1px solid #469165;
    border-radius: 8px;
    font-size: 16px;
}



.btn2:hover {
        cursor:pointer;
        background-color: aquamarine;
}


.btn3 {
    max-width: 198px;
    padding: 17px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
}

.btn3:hover {
    cursor:pointer;
    background-color: hotpink;
}

.bn {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 16px;
    
}

.color1 {
    color: #FFFFFF;
}

.color2 {
    color: #30B868;
}

.card-section-heading {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 16px;
    font-size: 30px;
}

.card-section-p {
    text-align: center;
    padding-bottom: 16px;
    font-size: 16px;
}

.card {
  max-width: 1600px;
  margin: auto;
  display: flex;
  width: 71%;
  max-width: 1360px;
  padding:  120px;
  gap: 24px;
  align-items: center;
 
}



.card .card1 {
    max-width: 322px;
    margin: auto;
    padding: 24px;
     background-color: #FFFFFF;
    border: 1px solid #6273821a;
    border-bottom: none;
    text-align: center;
}
.card .card2 {
   max-width: 322px;
    margin: auto;
    padding: 24px;
     background-color: #FFFFFF;
    border: 1px solid #6273821a;
    border-bottom: none;
    text-align: center;
}
.card .card3 {
    max-width: 322px;
    margin: auto;
    padding: 24px;
     background-color: #FFFFFF;
    border: 1px solid #6273821a;
    border-bottom: none;
    text-align: center;
}
.card .card4 {
    max-width: 322px;
    margin: auto;
    padding: 24px;
     background-color: #FFFFFF;
    border: 1px solid #6273821a;
    border-bottom: none;
    text-align: center;
}

.card1 .vector {
    border: 1px solid #F95555;
    background-color: #F95555;
    padding: 8px;
    border-radius:5000px;
    margin-bottom: 16px;
}
.card2 .book {
    border: 1px solid #F95555;
    background-color: #F95555;
    padding: 8px;
    border-radius:5000px;
    margin-bottom: 16px;
}
.card3 .brain {
    border: 1px solid #F95555;
    background-color: #F95555;
    padding: 8px;
    border-radius:5000px;
    margin-bottom: 16px;
}
.card4 .info {
    border: 1px solid #F95555;
    background-color: #F95555;
    padding: 8px;
    border-radius:500px;
    margin-bottom: 16px;
}

.ch {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
}

.second-brain {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.014);
}

.solution {
      font-size: 16px;
      margin-bottom: 16px;
}

.green {
    color: #469165;
}

.second-brain-heading {
     font-size: 48px;
     margin-bottom: 16px;
}

.personal-knowledge {
    margin-bottom: 40px;
    font-size: 16px;
}

.second-brain-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 120px;
  
}

.checkcircle {
    font-size: 16px;
}

.checklist1 {
    display:flex;
    padding-bottom: 16px;
}
.checklist2 {
    display:flex;
    padding-bottom: 16px;
}
.checklist3 {
    display:flex;
    padding-bottom: 16px;
}
.checklist4 {
    display:flex;
    
}
