
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}




* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 120px;
    gap: 346px;
}


.nav-list {
    display: flex;
    list-style-type: none;
    gap: 32px;
    cursor: pointer;
    font-size: 16px;
    
}

.btn {
    width: 10%;
    max-width: 164px;
    color: white;
    border: none;
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 4px;
    cursor: grab;
    font-size: 16px;
}

.btn:hover{
    background-color: rgb(153, 255, 140);
}

.banner {
    height: 674px;
    max-width: 1920px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
     text-align:center;
    
     
     
}

 .early-access p {
    margin-top: 20px;
    max-width: 229px;
    border-radius: 1000px;
    background-color: white;
    border: 1px solid white;
    border-radius: 1000px;
    color: #469165;
 }

 .early-access {
    padding-top: 115px;
    font-size: 16px;
    
 }

.heading {
   padding-top: 16px;
   padding-bottom: 16px;
   font-size: 30px;


}

.private-space {
    margin-bottom: 32px;
    font-size: 18px;
    color: #FFFFFF;
}

.btn2 {
    max-width: 252px;
    padding: 17px ;
    text-align: center;
    color: white;
    background-color:#469165;
    border: 1px solid #469165;
    border-radius: 8px;
    font-size: 16px;
}



.btn2:hover {
        cursor:pointer;
        background-color: aquamarine;
}


.btn3 {
    max-width: 198px;
    padding: 17px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
}

.btn3:hover {
    cursor:pointer;
    background-color: hotpink;
}

.bn {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 16px;
    
}

.color1 {
    color: #FFFFFF;
}

.color2 {
    color: #30B868;
}